<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>Hamilton</h1>
    <img src="/img/hamilton.jpg" alt="hamilton">
    <p>Lewis Hamilton nació el 7 de enero de 1985 en Stevenage, Hertfordshire, Inglaterra. Sus padres lo llamaron Lewis por el atleta estadounidense Carl Lewis. Su padre, Anthony Hamilton es británico de ascendencia granadina, mientras que su madre, Carmen Larbalestier, es británica nacida en Birmingham. Ellos se separaron cuando tenía Lewis dos años, viviendo hasta los doce años con su madre y sus dos medio hermanas maternas mayores,6​ y desde entonces con su padre, su madrastra y su medio hermano paterno menor Nicholas, también piloto de carreras.

        En 1991 su padre le dio un coche teledirigido, y desde entonces empezó a ganar competiciones, incluso contra personas adultas.7​ El sueño de Hamilton era convertirse en conductor de la Fórmula 1, por lo que su padre le compró un kart, y en 1993 empezó a competir, de las que ganó varias carreras. Su padre le dijo que apoyaría su carrera siempre y cuando trabajara duro en la escuela. Pero al final Hamilton terminó su relación de trabajo con su padre a principios de 2010 y firmó un acuerdo de gestión en marzo de 2011 con la empresa de Simon Fuller XIX Entertainment. En noviembre de 2014, Hamilton anunció que no renovaría su contrato de gestión con Fuller.
        
        Hamilton fue educado en la escuela de John Henry Newman, una escuela secundaria católica. Junto con su interés por las carreras, también destacaba su habilidad como futbolista, jugando en el equipo de la escuela con el centrocampista internacional de Inglaterra Ashley Young. Hamilton dijo que si la Fórmula 1 no hubiera funcionado para él, habría sido futbolista o jugador de cricket. Posteriormente asistió, en febrero de 2001, a la Cambridge Arts and Sciences (CATS), una universidad privada de sexto grado en Cambridge.</p>
</body>
</html>