<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>Hopper</h1>
    <img src="/img/hopper.jpg" alt="Hopper">
    <p>Nacido en Nyack, una pequeña ciudad a orillas del río Hudson en una familia burguesa, Hopper entró en 1900 en la New York School of Art. En ese instituto coincidirá con otros futuros protagonistas del arte estadounidense de principios de los años cincuenta: Guy Pène du Bois, Rockwell Kent, Eugene Speicher y George Bellows.

        Sin embargo, los contactos que resultaron fundamentales para su formación y para su desarrollo como pintor son tres de los profesores de la escuela: William Merrit Chase, que lo animó a estudiar y a copiar lo que veía en los museos; Kenneth H. Miller, que lo educó en el gusto por una pintura nítida y limpia, organizada en una composición espacial ordenada y Robert Henri, que contribuyó a liberar el arte de la época del peso de las normas académicas, ofreciendo de ese modo un ejemplo activo al joven Hopper. Tras conseguir su título, Hopper obtuvo su primer trabajo como ilustrador publicitario en la C. Phillips & Company.</p>
</body>
</html>