<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1>Turing</h1>
    <img src="/img/turing.jpg" alt="turing">
    <p>Turing nació en Maida Vale, Londres,10​ Su padre Julius Mathison Turing (1873-1944) era miembro del cuerpo de funcionarios británicos en la India, estaba de licencia de su cargo en el Servicio Civil Indio (ICS) en Chatrapur, posteriormente Madrás y actualmente en el estado de Odisha, en la India. El padre de Turing era hijo de un clérigo, el reverendo John Robert Turing, de una familia escocesa de comerciantes que tenía su sede en los Países Bajos e incluía un baronet. La madre de Turing, era Ethel Sara Turing (de soltera Stoney; 1881-1976), hija de Edward Waller Stoney, ingeniero jefe de Madras Railways. Los Stoney eran una familia de la nobleza protestante angloirlandesa de los condados de Tipperary y Longford, mientras que la propia Ethel había pasado gran parte de su infancia en el condado de Clare.</p>
</body>
</html>